<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

	<suite name="ShoppingTools_Automation">
	
	<!-- <listeners>
		<listener class-name="com.qa.ExtentReporterNG" />
		 <listener class-name="com.qa.testanalazer.RetryTransformer" />
	</listeners> -->
	
	<suite-files>
		 <suite-file path="./resources/suites/HomePage.xml" />
		 <suite-file path="./resources/suites/ProductsPageTest.xml" />
		 <suite-file path="./resources/suites/ProductColorAndSortBy.xml" />
		
	</suite-files>
</suite>
